# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# IDE
.idea/
.vscode/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Dependency directories
node_modules/

# Python-specific

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Logs
*.log

# Configuration files
*.swp